{%extends "base.html"%} {%block header%}


<div class="jumbotron jumbotron-fluid shadow">
    <div class="container row">
        <div class="col-6">
            <h1 class="display-4">
                {{u.first_name}} {{u.last_name}}
            </h1>
            <p>Email: {{u.email}}</p>
            <p>Location: {{u.location}}</p>
        </div>
    </div>
</div>

<div id="saved-events" class="container bg-dark text-light rounded shadow mb-2">
    <div class="row">
        <h2 class="col">Upcoming events </h2> <a class="col text-right" href="/users/{{current_user.id}}/saved">See all saved events</a>
    </div>
</div>
{%if not events%}
<div class="container bg-light rounded">
    <p class="text-center">You have no saved events.</p>
</div>
{%else%} {%include 'saved_events.html'%} {%endif%}
<div id="local-events" class="container bg-dark text-light rounded shadow mb-2">
    <div class="row">
        <h2 class="col-6">Local events</h2>
        <form class="text-left col-6" action="/users/{{current_user.id}}">
            {%include 'form_render.html'%}
            <button class="btn btn-primary mb-2" type="submit">Filter</button>
        </form>
    </div>
</div>
{%if not local_events%}
<div class="container bg-light rounded">
    <p class="text-center">No upcoming events in your area.</p>
</div>
{%else%}
<div class="container">
    <div class="row event-cards" id="local_results">
        {%for event in local_events %} {%if event.id not in saved%}
        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card shadow">

                <img src="/static/img/card-crop.jpg" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay ">
                    <a href="/events/{{event.id}}">
                        <h4 class="card-title text-white ">{{event.title}}</h4>
                    </a>
                </div>

                <div class="card-body">

                    <h5>{{event.venue_name}}</h5>
                    <h6>{{event.venue_address}}</h6>
                    <h6>{{event.city_name}}, {{event.region_name}}</h6>
                    <p>{{time(event.start_time)}}</p>
                    {%if event.description%}
                    <div class="card-text p-2 rounded">{{event.description|safe}}</div>
                    {%endif%} {%if current_user.is_active%}
                    <button id="{{event.id}}" {%if event.id in saved%}class="btn btn-primary mt-2">Saved</button> {%else%}class="btn btn-outline-primary mt-2" >Save event</button> {%endif%}{%endif%}
                </div>
            </div>
        </div>
        {%endif%} {%endfor%}
    </div>
</div>
{%endif%} {%endblock%}