<div class="container">
    <div class="event-cards row">
        {%for event in events%}
        <div class="col-lg-4 col-md-6 mb-2">
            <div class="card shadow">

                <img src="/static/img/card-crop.jpg" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay ">
                    <a href="/events/{{event.id}}">
                        <h4 class="card-title text-white ">{{event.title}}</h4>
                    </a>
                </div>

                <div class="card-body">

                    <h5>{{event.venue_name}}</h5>
                    <h6>{{event.address}}</h6>
                    <h6>{{event.city}}, {{event.region}}</h6>
                    <p>{{time(event.start_time)}}</p>
                    {%if event.description%}
                    <div class="card-text p-2 rounded">{{event.description|safe}}</div>
                    {%endif%} {%if current_user.is_active%}
                    <button id="{{event.id}}" {%if event.id in saved%}class="btn btn-primary mt-2">Saved</button> {%else%}class="btn btn-outline-primary mt-2" >Save event</button> {%endif%}{%endif%}
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>