{%extends "base.html"%} {%block header%}


<div class="jumbotron jumbotron-fluid shadow">
    <div class="container row">
        <div class="col-6">
            <h1 class="display-4">
                {{u.first_name}} {{u.last_name}}
            </h1>
            <p>Email: {{u.email}}</p>
            <p>Location: {{u.location}}</p>
        </div>
    </div>
</div>

<div id="saved-events" class="container bg-dark text-light rounded shadow mb-2">
    <div class="row">
        <h2 class="col">Saved events </h2>
    </div>
</div>
{%if not events%}
<div class="container bg-light">
    <p class="text-center rounded">You have no saved events.</p>
</div>
{%else%} {%include 'saved_events.html'%} {%endif%} 
<div class="container">
    <nav>
        <ul id="page-select" class="pagination">
            <li class="page-item {%if session.curr_page==1%}disabled{%endif%}">
                <a href="/users/{{u.id}}/saved?page={{session.curr_page-1}}" class="page-link">Previous</a>
            </li>
            {%for page in pages%} {%if page>0 and page
            <=size%} <li class="page-item {%if session.curr_page == page%} active{%endif%}"><a class="page-link " href="/users/{{u.id}}/saved?page={{page}}">{{page}}</a></li>
                {%endif%} {%endfor%}
                <li class="page-item {%if session.curr_page==size%}disabled{%endif%}">
                    <a class="page-link " href="/users/{{u.id}}/saved?page={{session.curr_page+1}}">Next</a>
                </li>
        </ul>
    </nav>
</div>
{%endblock%}